<div class="chat">
  <div class="chat-header">
    <div class="head-room">hogefuga</div>
    <div class="chat-exit"><a href="#">チャットを終了する</a></div>
  </div>
  <div class="chat-main">
    <div class="message">
      <div class="message-top">
        <div class="massage-name">Tom</div>
        <div class="message-date">2020/3/31(Wed) 13:32:32</div>
      </div>
      <div class="message-bottom">
        <div class="message-text">おはよう</div>
      </div>
    </div>
    <div class="message">
      <div class="message-top">
        <div class="massage-name">Tom</div>
        <div class="message-date">2020/3/31(Wed) 13:32:32</div>
      </div>
      <div class="message-bottom">
        <div class="message-text">おはよう</div>
      </div>
    </div>
  </div>
  <div class="chat-footer">
    <div class="form">
      <input class="form-message", placeholder= "type a text message">
      <label class="form-image">
        <span class="image-file">画像</span>
        <input type="file" class="hidden">
    </label>
    </div>
    <input class="form-submit", type="submit", value="送信">
  </div>
</div>